<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
<!ELEMENT blogArea ANY>
<!ATTLIST blogArea id ID #REQUIRED>
<!ELEMENT ezSearch ANY>
<!ATTLIST ezSearch id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT newsArea ANY>
<!ATTLIST newsArea id ID #REQUIRED>
<!ELEMENT newsItem ANY>
<!ATTLIST newsItem id ID #REQUIRED>
<!ELEMENT sEO ANY>
<!ATTLIST sEO id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT promoItem ANY>
<!ATTLIST promoItem id ID #REQUIRED>
<!ELEMENT promoRepository ANY>
<!ATTLIST promoRepository id ID #REQUIRED>
<!ELEMENT faqItem ANY>
<!ATTLIST faqItem id ID #REQUIRED>
<!ELEMENT faqArea ANY>
<!ATTLIST faqArea id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1054" key="39cb4da8-0bbe-45fb-b2fc-ed046f7a9d86" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-01-23T11:47:28" updateDate="2017-01-24T11:48:04" nodeName="Welcome" urlName="welcome" path="-1,1054" isDoc="" nodeType="1051" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1050" nodeTypeAlias="homePage">
    <metaKeywords><![CDATA[welcome, my website, awesomeness]]></metaKeywords>
    <metaDescription><![CDATA[This is the welcome page for my website]]></metaDescription>
    <siteName><![CDATA[My Website]]></siteName>
    <faqsToHighlight><![CDATA[1239,1241]]></faqsToHighlight>
    <bodyText><![CDATA[<p><span>8-bit stumptown knausgaard, leggings wolf iceland humblebrag neutra blue bottle hell of. Synth next level franzen wolf plaid farm-to-table salvia tousled. YOLO fashion axe kinfolk, hella sustainable affogato farm-to-table raw denim. Occupy edison bulb food truck cardigan readymade, disrupt migas. Unicorn keffiyeh ethical, jianbing iceland tousled edison bulb cliche jean shorts. Hoodie plaid salvia stumptown bitters hella messenger bag cornhole craft beer fap. Chia pitchfork listicle, gastropub wolf skateboard four dollar toast authentic wayfarers PBR&amp;B.</span></p>]]></bodyText>
    <textPage id="1055" key="1449901e-f046-4257-96d9-928260cd4328" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2017-01-23T11:47:59" updateDate="2017-01-23T14:58:02" nodeName="Documentation" urlName="documentation" path="-1,1054,1055" isDoc="" nodeType="1053" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1052" nodeTypeAlias="textPage">
      <sectionName><![CDATA[Document List]]></sectionName>
      <bodyText><![CDATA[<p><span>Master cleanse air plant selfies humblebrag, truffaut echo park chillwave 3 wolf moon. Af next level banh mi salvia, blue bottle swag post-ironic kinfolk lomo tbh whatever normcore cray. Tumeric poke 90's, meditation glossier asymmetrical selvage raclette af disrupt fap hot chicken bitters austin keytar. 8-bit pug typewriter, intelligentsia vice blue bottle ennui flannel. Lo-fi cardigan pour-over, air plant franzen brooklyn typewriter distillery. Hella tacos dreamcatcher, austin normcore retro yr green juice offal activated charcoal hashtag stumptown succulents. Bicycle rights fanny pack VHS, paleo knausgaard kitsch drinking vinegar asymmetrical.</span></p>]]></bodyText>
      <textPage id="1221" key="b903dcf9-cdfb-4bf6-b0cf-b76984494149" parentID="1055" level="3" creatorID="0" sortOrder="0" createDate="2017-01-23T14:51:28" updateDate="2017-01-23T15:04:28" nodeName="Widget User Guide" urlName="widget-user-guide" path="-1,1054,1055,1221" isDoc="" nodeType="1053" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1052" nodeTypeAlias="textPage">
        <bodyText><![CDATA[<p>This is where the text goes for the Widget User Guide.</p>
<p>Coming soon...</p>]]></bodyText>
      </textPage>
      <faqArea id="1238" key="aafe40d7-0f67-44bf-8cff-4adbff0b7e78" parentID="1055" level="3" creatorID="0" sortOrder="1" createDate="2017-01-24T10:53:36" updateDate="2017-01-24T10:53:36" nodeName="FAQ" urlName="faq" path="-1,1054,1055,1238" isDoc="" nodeType="1237" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1236" nodeTypeAlias="faqArea">
        <faqItem id="1239" key="3b3845de-7568-4d72-9f9d-d65655759302" parentID="1238" level="4" creatorID="0" sortOrder="0" createDate="2017-01-24T10:54:43" updateDate="2017-01-24T10:54:43" nodeName="Is it possible to ask questions?" urlName="is-it-possible-to-ask-questions" path="-1,1054,1055,1238,1239" isDoc="" nodeType="1235" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1234" nodeTypeAlias="faqItem">
          <yourName><![CDATA[Charles Williams]]></yourName>
          <yourEmail><![CDATA[cwilli34@nd.edu]]></yourEmail>
          <answer><![CDATA[<p>Not yet.</p>]]></answer>
        </faqItem>
        <faqItem id="1241" key="cd444fa6-c75e-462d-9fd3-154a44091bd0" parentID="1238" level="4" creatorID="0" sortOrder="1" createDate="2017-01-24T11:38:15" updateDate="2017-01-24T11:38:15" nodeName="What does it all mean?" urlName="what-does-it-all-mean" path="-1,1054,1055,1238,1241" isDoc="" nodeType="1235" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1234" nodeTypeAlias="faqItem">
          <yourName><![CDATA[Charles Williams]]></yourName>
          <yourEmail><![CDATA[cwilli34@nd.edu]]></yourEmail>
          <answer><![CDATA[Not yet answered]]></answer>
        </faqItem>
      </faqArea>
    </textPage>
    <textPage id="1058" key="aef11642-9763-4b79-b327-e982933a78f8" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2017-01-23T12:40:47" updateDate="2017-01-23T15:33:08" nodeName="Services" urlName="services" path="-1,1054,1058" isDoc="" nodeType="1053" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1052" nodeTypeAlias="textPage">
      <sectionName><![CDATA[List of Services]]></sectionName>
      <bodyText><![CDATA[<p><span>Activated charcoal fixie kale chips, keytar chartreuse polaroid franzen yr post-ironic hella portland before they sold out trust fund pickled PBR&amp;B. Lyft YOLO venmo, austin butcher ramps fam put a bird on it pop-up occupy normcore. Sustainable organic gastropub bespoke, jean shorts +1 single-origin coffee pinterest aesthetic direct trade vice hella portland vexillologist cold-pressed. Dreamcatcher cray lo-fi hell of air plant stumptown. Vegan meditation meggings, live-edge lomo normcore aesthetic 90's lyft bicycle rights before they sold out. Distillery sustainable butcher fam gentrify. XOXO hell of lumbersexual next level.</span></p>]]></bodyText>
    </textPage>
    <newsArea id="1063" key="3effed53-799f-479a-beb9-5ddc66f06eeb" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2017-01-23T12:52:57" updateDate="2017-01-23T12:58:26" nodeName="News" urlName="news" path="-1,1054,1063" isDoc="" nodeType="1060" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1059" nodeTypeAlias="newsArea">
      <bodyText><![CDATA[<p>This is the latest news from the course:</p>]]></bodyText>
      <newsItem id="1064" key="121513c5-11a6-47c9-a45f-c3f071c51b03" parentID="1063" level="3" creatorID="0" sortOrder="0" createDate="2017-01-23T12:57:32" updateDate="2017-01-23T15:18:56" nodeName="Almost halfway now" urlName="almost-halfway-now" path="-1,1054,1063,1064" isDoc="" nodeType="1062" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1061" nodeTypeAlias="newsItem">
        <summary><![CDATA[Viral everyday carry taxidermy, affogato jean shorts ethical meh whatever. Twee mixtape seitan flannel art party, succulents pop-up portland stumptown.]]></summary>
        <bodyText><![CDATA[<p><span>Vaporware irony cronut raclette fashion axe. Fanny pack retro typewriter kinfolk. Kombucha affogato pug, af selfies swag banh mi before they sold out small batch etsy knausgaard chartreuse polaroid locavore prism. Skateboard heirloom fam, drinking vinegar yuccie leggings kombucha. Trust fund authentic asymmetrical cliche, knausgaard jean shorts meh migas roof party hell of kickstarter. Cred PBR&amp;B microdosing raw denim, bitters pinterest deep v schlitz tumeric pok pok VHS semiotics. Pabst enamel pin blog lyft narwhal, four dollar toast selvage etsy offal hexagon.</span></p>
<?UMBRACO_MACRO macroAlias="Gallery" mediaIds="1067" />
<?UMBRACO_MACRO macroAlias="Gallery" mediaIds="1068" />]]></bodyText>
      </newsItem>
      <newsItem id="1065" key="944b76ea-5038-4e9d-90d8-6c3af94426b4" parentID="1063" level="3" creatorID="0" sortOrder="1" createDate="2017-01-23T13:07:12" updateDate="2017-01-23T15:19:09" nodeName="This should be first" urlName="this-should-be-first" path="-1,1054,1063,1065" isDoc="" nodeType="1062" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1061" nodeTypeAlias="newsItem">
        <summary><![CDATA[Austin ugh 90's locavore. Viral tilde freegan actually. Scenester microdosing meditation prism, portland tbh sriracha tote bag vexillologist vaporware waistcoat pabst blue bottle chambray.]]></summary>
        <bodyText><![CDATA[<p><span>Farm-to-table fingerstache intelligentsia pop-up. Poutine drinking vinegar street art pour-over asymmetrical kogi, jianbing iPhone four loko chia woke polaroid cray twee. IPhone fixie try-hard, crucifix tilde 8-bit narwhal next level shoreditch viral tumeric jean shorts lyft single-origin coffee aesthetic. 8-bit helvetica freegan, pour-over next level offal migas. Dreamcatcher lomo freegan vice, sartorial woke prism lyft cold-pressed hexagon williamsburg. Ramps fingerstache helvetica, bitters swag artisan glossier affogato mustache organic four loko. Heirloom pork belly migas VHS cornhole, cold-pressed hella neutra banjo banh mi austin live-edge truffaut locavore.</span></p>]]></bodyText>
      </newsItem>
    </newsArea>
    <landingPage id="1228" key="23c5c953-b4ae-4cb7-a896-efa332bd33b4" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2017-01-24T09:45:14" updateDate="2017-01-24T10:00:39" nodeName="Products" urlName="products" path="-1,1054,1228" isDoc="" nodeType="1227" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1226" nodeTypeAlias="landingPage">
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Banner",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headlineCentered",
                "paragraphCentered"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Our Awesome New Product",
                  "editor": {
                    "alias": "headlineCentered"
                  },
                  "active": false
                },
                {
                  "value": "This is the greatest product in the whole wide world. It makes everything worthwhile. Trust us! You'll want to buy it immediately and after that you'll want to buy several more. It is that good.",
                  "editor": {
                    "alias": "paragraphCentered"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "",
          "styles": {
            "background-image": "url(/media/1084/shirt_0670.jpg)"
          },
          "config": {
            "class": "Blue"
          },
          "hasConfig": true,
          "id": "badf2430-d5fe-ed9e-5dd3-c09bd9cc88c5"
        },
        {
          "name": "3 Cells",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "headline",
                "paragraph"
              ],
              "config": {
                "class": "Yellow"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "Hello",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "This is the greatest product in the whole wide world. It makes everything worthwhile. Trust us! You'll want to buy it immediately and after that you'll want to buy several more. It is that good.",
                  "editor": {
                    "alias": "paragraph"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "headline",
                "paragraph"
              ],
              "config": {
                "class": "Red"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "Good day",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "This is the greatest product in the whole wide world. It makes everything worthwhile. Trust us! You'll want to buy it immediately and after that you'll want to buy several more. It is that good.",
                  "editor": {
                    "alias": "paragraph"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "headline",
                "paragraph"
              ],
              "config": {
                "class": "Grey"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": "Howdy",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "This is the greatest product in the whole wide world. It makes everything worthwhile. Trust us! You'll want to buy it immediately and after that you'll want to buy several more. It is that good.",
                  "editor": {
                    "alias": "paragraph"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "White"
          },
          "hasConfig": true,
          "id": "8bd7a1be-43fe-49c9-5420-8186a2de9dc7",
          "active": true
        },
        {
          "name": "Banner",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headlineCentered",
                "paragraphCentered"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Even more awesomeness",
                  "editor": {
                    "alias": "headlineCentered"
                  },
                  "active": false
                },
                {
                  "value": "This is the greatest product in the whole wide world. It makes everything worthwhile. Trust us! You'll want to buy it immediately and after that you'll want to buy several more. It is that good.",
                  "editor": {
                    "alias": "paragraphCentered"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "",
          "styles": {},
          "config": {
            "class": "Black"
          },
          "hasConfig": true,
          "id": "9088366a-ad0a-724c-a9c9-b76d5463df5e"
        }
      ]
    }
  ]
}]]></bodyText>
    </landingPage>
    <promoRepository id="1231" key="9ce213f2-f7ff-49cb-8337-8e400aff49d1" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2017-01-24T10:09:49" updateDate="2017-01-24T13:30:36" nodeName="Promo Repository" urlName="promo-repository" path="-1,1054,1231" isDoc="" nodeType="1230" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="0" nodeTypeAlias="promoRepository">
      <umbracoNaviHide>1</umbracoNaviHide>
      <promoItem id="1232" key="d301fbdc-d60a-4182-939d-43a6ad0787c1" parentID="1231" level="3" creatorID="0" sortOrder="0" createDate="2017-01-24T10:12:34" updateDate="2017-01-24T10:33:55" nodeName="Inviting" urlName="inviting" path="-1,1054,1231,1232" isDoc="" nodeType="1229" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="0" nodeTypeAlias="promoItem">
        <description><![CDATA[Let us welcome you to our office]]></description>
        <subheading><![CDATA[Hang out]]></subheading>
        <image><![CDATA[{
  "focalPoint": {
    "left": 0.595,
    "top": 0.37
  },
  "src": "/media/1143/hq_9975.jpg",
  "crops": [
    {
      "alias": "promoHome",
      "width": 1500,
      "height": 600
    }
  ]
}]]></image>
        <link>1056</link>
      </promoItem>
      <promoItem id="1233" key="432a4ddb-931e-48c0-9399-126229f4dc89" parentID="1231" level="3" creatorID="0" sortOrder="1" createDate="2017-01-24T10:17:00" updateDate="2017-01-24T10:33:55" nodeName="Amazing" urlName="amazing" path="-1,1054,1231,1233" isDoc="" nodeType="1229" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="0" nodeTypeAlias="promoItem">
        <description><![CDATA[We are so awesome that you will be awesome just being around us.]]></description>
        <subheading><![CDATA[You wish you were here]]></subheading>
        <image><![CDATA[{
  "focalPoint": {
    "left": 0.54,
    "top": 0.7
  },
  "src": "/media/1144/hq_9953.jpg",
  "crops": [
    {
      "alias": "promoHome",
      "width": 1500,
      "height": 600
    }
  ]
}]]></image>
        <link>1055</link>
      </promoItem>
    </promoRepository>
    <blogArea id="1250" key="71fc0c07-4c22-4213-8b85-79b30f356509" parentID="1054" level="2" creatorID="0" sortOrder="5" createDate="2017-01-24T13:20:03" updateDate="2017-01-24T13:30:36" nodeName="Blog" urlName="blog" path="-1,1054,1250" isDoc="" nodeType="1247" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1246" nodeTypeAlias="blogArea">
      <bodyText><![CDATA[<p>Here is the beginning of my blog.  This blog will focus on all the cool stuff that is so awesome about our company.</p>]]></bodyText>
      <blogItem id="1251" key="aac8a959-4889-4acf-bbd3-28cba886034c" parentID="1250" level="3" creatorID="0" sortOrder="0" createDate="2017-01-24T13:22:08" updateDate="2017-01-24T13:22:08" nodeName="What is a Blog?" urlName="what-is-a-blog" path="-1,1054,1250,1251" isDoc="" nodeType="1249" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1248" nodeTypeAlias="blogItem">
        <tags><![CDATA[cool stuff,awesome stuff,we are so awesome]]></tags>
        <summary><![CDATA[A blog (a truncation of the expression weblog)[1] is a discussion or informational website published on the World Wide Web consisting of discrete, often informal diary-style text entries ("posts").]]></summary>
        <bodyText><![CDATA[<p>Posts are typically displayed in reverse chronological order, so that the most recent post appears first, at the top of the web page. Until 2009, blogs were usually the work of a single individual[citation needed], occasionally of a small group, and often covered a single subject or topic. In the 2010s, "multi-author blogs" (MABs) have developed, with posts written by large numbers of authors and sometimes professionally edited. MABs from newspapers, other media outlets, universities, think tanks, advocacy groups, and similar institutions account for an increasing quantity of blog traffic. The rise of Twitter and other "microblogging" systems helps integrate MABs and single-author blogs into the news media. Blog can also be used as a verb, meaning to maintain or add content to a blog.</p>]]></bodyText>
      </blogItem>
    </blogArea>
    <textPage id="1056" key="29a84815-42d9-4256-9f43-0a8538bf85be" parentID="1054" level="2" creatorID="0" sortOrder="6" createDate="2017-01-23T11:48:22" updateDate="2017-01-24T13:30:36" nodeName="About us" urlName="about-us" path="-1,1054,1056" isDoc="" nodeType="1053" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1052" nodeTypeAlias="textPage">
      <sectionName><![CDATA[Remove This Section Name]]></sectionName>
      <bodyText><![CDATA[<p><span>Coloring book cold-pressed plaid, church-key hoodie artisan sustainable. Aesthetic lo-fi banh mi, poke copper mug tilde typewriter chambray portland blue bottle meditation pabst kinfolk. Thundercats disrupt biodiesel af, portland cred drinking vinegar migas pok pok salvia marfa +1. Banh mi locavore asymmetrical live-edge try-hard, succulents crucifix beard post-ironic drinking vinegar viral chia listicle fixie. Squid semiotics organic you probably haven't heard of them. Vice meh synth, humblebrag roof party helvetica raclette. Shoreditch vape distillery, pop-up kombucha aesthetic paleo jean shorts 3 wolf moon pitchfork pork belly bitters cronut four loko.</span></p>]]></bodyText>
    </textPage>
    <ezSearch id="1245" key="3e06742e-e4f6-4c61-b343-11855aafc18a" parentID="1054" level="2" creatorID="0" sortOrder="7" createDate="2017-01-24T11:56:17" updateDate="2017-01-24T13:30:36" nodeName="Search" urlName="search" path="-1,1054,1245" isDoc="" nodeType="1244" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1243" nodeTypeAlias="ezSearch">
      <umbracoNaviHide>1</umbracoNaviHide>
    </ezSearch>
  </homePage>
  <homePage id="1213" key="3010dd78-3024-473a-8440-a4cfe89a7c39" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-01-23T13:54:42" updateDate="2017-01-23T15:03:23" nodeName="Spanish" urlName="spanish" path="-1,1213" isDoc="" nodeType="1051" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1050" nodeTypeAlias="homePage">
    <siteName><![CDATA[En  Español]]></siteName>
    <bodyText><![CDATA[<p><span>8-bit stumptown knausgaard, leggings wolf iceland humblebrag neutra blue bottle hell of. Synth next level franzen wolf plaid farm-to-table salvia tousled. YOLO fashion axe kinfolk, hella sustainable affogato farm-to-table raw denim. Occupy edison bulb food truck cardigan readymade, disrupt migas. Unicorn keffiyeh ethical, jianbing iceland tousled edison bulb cliche jean shorts. Hoodie plaid salvia stumptown bitters hella messenger bag cornhole craft beer fap. Chia pitchfork listicle, gastropub wolf skateboard four dollar toast authentic wayfarers PBR&amp;B.</span></p>]]></bodyText>
    <textPage id="1214" key="a8f5e037-1f21-4e0d-8ecb-5fb671233ae1" parentID="1213" level="2" creatorID="0" sortOrder="0" createDate="2017-01-23T13:54:42" updateDate="2017-01-23T13:58:19" nodeName="Documentation" urlName="documentation" path="-1,1213,1214" isDoc="" nodeType="1053" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1052" nodeTypeAlias="textPage">
      <bodyText><![CDATA[<p><span>Master cleanse air plant selfies humblebrag, truffaut echo park chillwave 3 wolf moon. Af next level banh mi salvia, blue bottle swag post-ironic kinfolk lomo tbh whatever normcore cray. Tumeric poke 90's, meditation glossier asymmetrical selvage raclette af disrupt fap hot chicken bitters austin keytar. 8-bit pug typewriter, intelligentsia vice blue bottle ennui flannel. Lo-fi cardigan pour-over, air plant franzen brooklyn typewriter distillery. Hella tacos dreamcatcher, austin normcore retro yr green juice offal activated charcoal hashtag stumptown succulents. Bicycle rights fanny pack VHS, paleo knausgaard kitsch drinking vinegar asymmetrical.</span></p>]]></bodyText>
      <textPage id="1222" key="559bdc86-458f-4502-91a9-cd359ae73a8d" parentID="1214" level="3" creatorID="0" sortOrder="0" createDate="2017-01-23T15:03:47" updateDate="2017-01-23T15:04:20" nodeName="Widget User Guide" urlName="widget-user-guide" path="-1,1213,1214,1222" isDoc="" nodeType="1053" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1052" nodeTypeAlias="textPage">
        <bodyText><![CDATA[<p>This is where the text goes for the Widget User Guide.</p>
<p>Coming soon...</p>]]></bodyText>
      </textPage>
    </textPage>
    <textPage id="1215" key="600b681c-ac03-4d06-bcd2-d8034ecd554f" parentID="1213" level="2" creatorID="0" sortOrder="1" createDate="2017-01-23T13:54:42" updateDate="2017-01-23T13:58:19" nodeName="Services" urlName="services" path="-1,1213,1215" isDoc="" nodeType="1053" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1052" nodeTypeAlias="textPage">
      <bodyText><![CDATA[<p><span>Activated charcoal fixie kale chips, keytar chartreuse polaroid franzen yr post-ironic hella portland before they sold out trust fund pickled PBR&amp;B. Lyft YOLO venmo, austin butcher ramps fam put a bird on it pop-up occupy normcore. Sustainable organic gastropub bespoke, jean shorts +1 single-origin coffee pinterest aesthetic direct trade vice hella portland vexillologist cold-pressed. Dreamcatcher cray lo-fi hell of air plant stumptown. Vegan meditation meggings, live-edge lomo normcore aesthetic 90's lyft bicycle rights before they sold out. Distillery sustainable butcher fam gentrify. XOXO hell of lumbersexual next level.</span></p>]]></bodyText>
    </textPage>
    <newsArea id="1216" key="407e7192-33eb-4b96-a935-1471479a3143" parentID="1213" level="2" creatorID="0" sortOrder="2" createDate="2017-01-23T13:54:42" updateDate="2017-01-23T13:58:19" nodeName="News" urlName="news" path="-1,1213,1216" isDoc="" nodeType="1060" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1059" nodeTypeAlias="newsArea">
      <bodyText><![CDATA[<p>This is the latest news from the course:</p>]]></bodyText>
      <newsItem id="1217" key="6d2e8ca3-2e3f-4b67-bcde-48ccab0e7557" parentID="1216" level="3" creatorID="0" sortOrder="0" createDate="2017-01-23T13:54:42" updateDate="2017-01-23T13:58:19" nodeName="Almost halfway now" urlName="almost-halfway-now" path="-1,1213,1216,1217" isDoc="" nodeType="1062" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1061" nodeTypeAlias="newsItem">
        <summary><![CDATA[Viral everyday carry taxidermy, affogato jean shorts ethical meh whatever. Twee mixtape seitan flannel art party, succulents pop-up portland stumptown. Man bun skateboard lumbersexual humblebrag kale chips yr fam, williamsburg pabst synth enamel pin artisan 90's. Pork belly freegan keytar twee, gochujang bespoke iPhone whatever fingerstache heirloom artisan selfies. Pabst irony poutine ethical. Actually church-key street art blue bottle poutine, etsy kickstarter umami kinfolk poke man braid schlitz. Austin lo-fi listicle put a bird on it semiotics, live-edge meh tacos brunch.]]></summary>
        <bodyText><![CDATA[<p><span>Vaporware irony cronut raclette fashion axe. Fanny pack retro typewriter kinfolk. Kombucha affogato pug, af selfies swag banh mi before they sold out small batch etsy knausgaard chartreuse polaroid locavore prism. Skateboard heirloom fam, drinking vinegar yuccie leggings kombucha. Trust fund authentic asymmetrical cliche, knausgaard jean shorts meh migas roof party hell of kickstarter. Cred PBR&amp;B microdosing raw denim, bitters pinterest deep v schlitz tumeric pok pok VHS semiotics. Pabst enamel pin blog lyft narwhal, four dollar toast selvage etsy offal hexagon.</span></p>
<?UMBRACO_MACRO macroAlias="Gallery" mediaIds="1067" />
<?UMBRACO_MACRO macroAlias="Gallery" mediaIds="1068" />]]></bodyText>
      </newsItem>
      <newsItem id="1218" key="7ba7df23-0ccf-4fce-80d7-df04b969de56" parentID="1216" level="3" creatorID="0" sortOrder="1" createDate="2017-01-23T13:54:42" updateDate="2017-01-23T13:58:19" nodeName="This should be first" urlName="this-should-be-first" path="-1,1213,1216,1218" isDoc="" nodeType="1062" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1061" nodeTypeAlias="newsItem">
        <summary><![CDATA[Austin ugh 90's locavore. Viral tilde freegan actually. Scenester microdosing meditation prism, portland tbh sriracha tote bag vexillologist vaporware waistcoat pabst blue bottle chambray. Pabst butcher retro, farm-to-table blog sustainable kinfolk XOXO pok pok pork belly activated charcoal put a bird on it vaporware tumeric. Copper mug raw denim austin distillery cold-pressed irony cornhole, tofu chartreuse fixie celiac unicorn. Freegan roof party hell of blog, blue bottle literally gastropub pinterest raw denim fap brooklyn selvage fanny pack tumblr. Semiotics tattooed butcher man braid austin tumblr.]]></summary>
        <bodyText><![CDATA[<p><span>Farm-to-table fingerstache intelligentsia pop-up. Poutine drinking vinegar street art pour-over asymmetrical kogi, jianbing iPhone four loko chia woke polaroid cray twee. IPhone fixie try-hard, crucifix tilde 8-bit narwhal next level shoreditch viral tumeric jean shorts lyft single-origin coffee aesthetic. 8-bit helvetica freegan, pour-over next level offal migas. Dreamcatcher lomo freegan vice, sartorial woke prism lyft cold-pressed hexagon williamsburg. Ramps fingerstache helvetica, bitters swag artisan glossier affogato mustache organic four loko. Heirloom pork belly migas VHS cornhole, cold-pressed hella neutra banjo banh mi austin live-edge truffaut locavore.</span></p>]]></bodyText>
      </newsItem>
    </newsArea>
    <textPage id="1219" key="aa5f4b37-d73c-4af4-8adc-e625349446e2" parentID="1213" level="2" creatorID="0" sortOrder="3" createDate="2017-01-23T13:54:42" updateDate="2017-01-23T13:58:19" nodeName="About us" urlName="about-us" path="-1,1213,1219" isDoc="" nodeType="1053" creatorName="Charles Williams" writerName="Charles Williams" writerID="0" template="1052" nodeTypeAlias="textPage">
      <bodyText><![CDATA[<p><span>Coloring book cold-pressed plaid, church-key hoodie artisan sustainable. Aesthetic lo-fi banh mi, poke copper mug tilde typewriter chambray portland blue bottle meditation pabst kinfolk. Thundercats disrupt biodiesel af, portland cred drinking vinegar migas pok pok salvia marfa +1. Banh mi locavore asymmetrical live-edge try-hard, succulents crucifix beard post-ironic drinking vinegar viral chia listicle fixie. Squid semiotics organic you probably haven't heard of them. Vice meh synth, humblebrag roof party helvetica raclette. Shoreditch vape distillery, pop-up kombucha aesthetic paleo jean shorts 3 wolf moon pitchfork pork belly bitters cronut four loko.</span></p>]]></bodyText>
    </textPage>
  </homePage>
</root>